.peerConnectionState-new {
  color: cornflowerblue;
}
.peerConnectionState-connecting {
  color: orange;
}
.peerConnectionState-connected {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceConnectionState-new {
  color: cornflowerblue;
}
.iceConnectionState-checking {
  color: orange;
}
.iceConnectionState-connected,
.iceConnectionState-completed {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceGatheringState-new {
  color: cornflowerblue;
}
.iceGatheringState-gathering {
  color: orange;
}
.iceGatheringState-complete {
  color: black;
}

.signalingState-stable {
  color: green;
}
.signalingState-have-local-offer,
.signalingState-have-remote-offer,
.signalingState-have-local-pranswer,
.signalingState-have-remote-pranswer {
  color: cornflowerblue;
}
.signalingState-closed {
  color: red;
}

.streamingState-streaming {
  color: green;
}

.streamingState-empty {
  color: grey;
}

#agentId-label, #chatId-label{
  color: green;
}

/* added css from here */

body * {
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.container-xl{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #171744;
}

#buttons {
  clear: both;
  padding: 0 0 0 0;
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  background-color: #7459fe;
  color: #fff;
}

button#connect-button {
background-color: green;
}
button#destroy-button{
  background-color: #1d1d50;
}

button#start-button{
  margin: 1em;
}

button:hover, #destroy-button:hover,#connect-button:hover {
  filter: brightness(85%);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

h4{
  margin: 0;
  margin-bottom: 10px;
}

textarea, input {
  font-size: 16px;
  text-align: left;
  width:100%;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #8A879D;
  font-size: 16px;
  background: #171744;
  color: white;
  margin-bottom: 20px;
}

input {
  padding: 15px 5px;
}

.width-100{
  width: 100%;
}

#msgHistory {
  overflow-y: auto;
  line-break: loose;
}

#status {
  display: inline-block;
  zoom: 1;
  line-height: 140%;
  font-size: 15px;
  width: 400px;
}

#status div {
  padding-bottom: 10px;
}

#video-wrapper {
  /* height: 500px; */
  width: 100%;
  height: 100%;
  background-position: top;
}

.chat{
  width: 400px;
}


video {
  /* display: block; */
  border-radius: 50%;
  background-image: url("emma_idle.png");
  background-position: top;
  /* position: absolute; */
  background-size: contain;
}

.animated {
  animation: opacityAnimation 0.2s ease-in-out;
}


.flex-2{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.card {
  background-color: #1d1d50; /* Background color of the card */
  border: 1px solid #221869; /* Light border around the card */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 16px; /* Padding inside the card */
  margin: 16px; /* Margin outside the card */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
}

.statusContainer{
  font-size: 40px;
  text-align: center;
  margin: 10px;
  color: white;
  font-weight: 700;
}

.hide{
  display: none;
}

.center{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header{
  font-size: 36px;
  color: white;
  font-weight: 800;
  text-align: left;
  margin: 5px 0;
}

@keyframes opacityAnimation {
from { opacity: 0.8; }
to { opacity: 1; }
}

@media (max-width: 700px) {
  .flex-2 {
    flex-direction: column-reverse;
  }
  .statusContainer, .chat-header{
    font-size: 24px;
  }
}